# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build-viewer-Desktop_Qt_6_5_0_GCC_64bit-Debug/

viewer/viewer.qbs.user

viewer/bin/

build-viewer-Desktop_Qt_6_5_0_GCC_64bit-Release/
